[include]
  path = ~/.gitconfig.local
[alias]
	lg = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
	comet = commit -am "try this"
	yolo = commit -am "`curl -s https://whatthecommit.com/index.txt`"
[init]
	defaultBranch = master
[branch]
	autosetuprebase = always
[core]
	excludesFile = ~/.gitignore.global
	editor = nvim
[remote "origin"]
	prune = true
[rebase]
	instructionFormat = [%<(14,trunc)%an] %s
	autosquash = true
[commit]
	gpgsign = true
